# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Data files
data/raw/**/*.parquet
data/meta/*.db
data/factor/**/*.parquet

# Keep folder structure
!data/raw/.gitkeep
!data/meta/.gitkeep
!data/factor/.gitkeep

# Config secrets
config/local_settings.yaml